name: Xcode - pull request action

on:
  pull_request:

jobs:
  build:
    name: Build and XCTest
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build time summary
        run: |
         xcodebuild -project swiftUI_XCUITest.xcodeproj
         -scheme swiftUI_XCUITest build
         -destination platform="iOS Simulator,name=iPhone 15"
         OTHER_SWIFT_FLAGS="-Xfrontend -warn-long-function-bodies=100" -showBuildTimingSummary | tee build.log
